@import url('https://fonts.googleapis.com/css?family=Montserrat');

#menu-toggle {
  color: white;
  position: fixed;
  top: 7px;
  left: 225px;
  transform: rotate(90deg);
  background: #264577;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: none;
}

#menu-toggle.toggled{
  left: 7px;
}

#menu-toggle:hover{
  background: rgb(62, 98, 156);}


#wrapper {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


@media(max-width: 400px){
  #sidebar-wrapper {
    width: 500px;
  }
  #sidebar-wrapper.toggled {
    width: 500px;
  }

}

#wrapper.toggled {
  padding-left: 0px;
}

#sidebar-wrapper {
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: hidden;
  overflow-x: hidden;
  background: #132644;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 0px;
}

#page-content-wrapper {
  top:-50px;
  width: auto;
  position: absolute;
  padding: 50px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
  width: 100%;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  height: 5rem;
  font-size: 1.8rem;
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: rgb(218, 218, 218);
  color: 
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: white;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  padding-top: 10px;
  padding-bottom: 70;
  font-size: 30px;
  text-align: left;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.sidebar-nav > .sidebar-brand a {
  color: #ffffff;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: rgb(197, 197, 197);
  background: none;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

